root = true

[*]
insert_final_newline = false

# Matches multiple files with brace expansion notation
[*.{js,jsx,html,sass}]
charset = utf-8
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true

[*.{md,txt}]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = false